*{
  text-decoration: none;
}
.navbar{
  background: rgb(255, 255, 255); padding-right: 100px;padding-left: 100px;
}
.navdiv{
  display: flex; align-items: center; justify-content: space-between;
}

button{
  color: white;
  background-color: rgb(17, 0, 255); 
  margin-left: 10px; 
  border-radius: 10px; 
  padding: 10px; 
  width: 150px; 
  height: 50px ;
}
a{
  color:white;
  font-size: large;
}
.text{
  text-decoration: solid;
  font-size:90px;
  font-family: Arial;
  font-weight: bold;
}
.img1{
 position:absolute;
 float: left;
 right: 0;
}
.con1{
  float: left;
  z-index: 9;
  padding-left: 90px;
}
.text2{
  font-size: 30px;
  color: gray;
}
.button2{
  color: white;
  background-color: rgb(17, 0, 255); 
  width: 180px; 
  height: 60px ;
}
.sec2{
  width:100%;
  height: 1300px;
  background: radial-gradient(circle at 10% 20%, rgb(99, 55, 255) 0%, rgb(39, 170, 255) 90%);
  top:95%;
  position: absolute;
}
.text3{
  text-decoration: solid;
  font-size:60px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  text-align:center;
}
.c2{
  position: absolute;
  left: 12%;
}

.sec3{
  width:100%;
  top:270%;
  position: absolute;
}
.textp{
  text-decoration: solid;
  font-size:50px;
  font-family: Arial;
  font-weight: bold;
  padding-left:15%;
}

.text2p{
  font-size: 25px;
  color: gray;
  padding-left:15%;
  width: 100%;
}

.button2p{
padding-left:14%;
}

.img1p{
  position:absolute;
  right: 0;
  padding-right: 7%;
 }

.sec2p{
  width:100%;
  height:650px;
  background: radial-gradient(circle at 10% 20%, rgb(99, 55, 255) 0%, rgb(39, 170, 255) 90%);
  top:360%;
  position: absolute;
}
.footerp{
  width: 400;
  height:70%;
  border: 2%;
  border-color: blanchedalmond;
  border-style: solid;
  margin: 7%;
  border-radius: 1.5cm;
}

.footerp2{
  width:250px;
  float:right;
  text-decoration: solid;
  font-size:30px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  margin-top: -220px;
  margin-right: 10%;
}

.text3p{
  text-decoration: solid;
  font-size:40px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  text-align:left;
  padding-left: 5%;
}

.textx{
  text-decoration: solid;
  font-size:20px;
  font-family: Arial;
  font-weight: bold;
  color: white;

}
.call2{
  padding: 5px;
  align-items: center;
  vertical-align: middle;
}

.text3pp{
  text-decoration: solid;
  font-size:20px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  text-align:left;
  padding-left: 5%;
  
}
